<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
    </script>
  </head>

  <body>
    <p></p>
  <% for(var i=0;i<users.length;i++){ %>
  <img src="/users/pic?url=<%= users[i].avatar %>">
  <% } %>
  </body>
</html>
