<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
    </script>
  </head>

  <body>
    <p>知乎用户被1000人关注的头像</p>
  <% for(var i=0;i<users.length;i++){ %>
  <img src="/getimg?url=<%= users[i].avatar %>">
  <% } %>
  </body>
</html>
