<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <style>
        body {
            background-color: #091a23;
            color: #eee;
        }

        img {
            height: 30px;
            width: 30px;
        }

        img:hover {
            height: auto;
            width: auto;
        }
    </style>
</head>

<body>
<p>

<form url="./" method="get" id="filterForm">
    <div>gender:</div>
    <div><label>male:<input type="checkbox" name="gender" value="male"
                    <% if(query.gender == 'male'){ %>
                            checked
                    <% } %>
                    /></label></div>
    <div><label>female:<input type="checkbox" name="gender" value="female"
                    <% if(query.gender == 'female'){ %>
                              checked
                    <% } %>
                    /></label></div>
    <div><label>limit:
            <select name="limit">
                <option value="10"
                        <% if(query.limit == '10'){ %>
                        selected
                        <% } %>
                        >10
                </option>
                <option value="20"
                        <% if(query.limit == '20'){ %>
                        selected
                        <% } %>
                        >20
                </option>
                <option value="30"
                        <% if(query.limit == '30'){ %>
                        selected
                        <% } %>
                        >30
                </option>
                <option value="40"
                        <% if(query.limit == '40'){ %>
                        selected
                        <% } %>
                        >40
                </option>
            </select></label></div>
    <input type="submit" value="search">
</form>
</p>
<div id="container">
    <% for(var i = 0;i < users.length;i++){ %>
    <img src="/users/pic?url=<%= users[i].avatar %>" title="<%= users[i].name %>">
    <span><%= users[i].name %></span>
    <% } %>
</div>


<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    (function () {
        var $filterForm = $('#filterForm');
        $filterForm.on('submit', function(){
            $.get('/users/list', $filterForm.serialize(), function(res){
                var list = res.data.list;
                var html = '';
                list.forEach(function(item){
                    html += ' <img src="/users/pic?url='+item.avatar +'" title="'+item.name +'">' +
                            '<span>'+ item.name +'</span>'
                });
                $('#container').html(html);
            });
            return false;
        })
    })();
</script>
</body>
</html>
