<!DOCTYPE html>
<html>
<head>
    <title>知乎头像</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <style>
        body {
            background-color: #091a23;
            color: #eee;
            text-align: center;
            overflow-y: scroll;
        }

        /**
                    * 整体居中功能；
                    * 背景透明虚化
                    * 溢出隐藏
                    * 边缘圆角化
                    * 文字增加淡阴影
                    */
        #main{
            width: 800px;
            padding:20px;
            margin: 0 auto;
            position: relative;
            background: hsla(0,0%,100%,.1) border-box;
            overflow: hidden;
            border-radius: .3em;
            box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset,
            0 .5em 1em rgba(0, 0, 0, 0.6);
            text-shadow: 0 1px 1px hsla(0,0%,100%,.3);
        }

        /*使用滤镜模糊边缘*/
        #main::before{
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            margin: -30px;
            z-index: -1;
            -webkit-filter: blur(20px);
            filter: blur(20px);
        }

        #container img {
            height: 50px;
            width: 50px;
            border: 3px solid #fff;
            border-radius: 50%;
            cursor: pointer;
            max-width: 100%;
            transition: transform 1s ease 0s;

        }

        @keyframes rotatePic {
            from {
                transform: rotate(0deg)
            }
            to {
                transform: rotate(360deg)
            }
        }

        .current {
            animation: rotatePic 2s linear 0s infinite;
        }

        #container {
            width: 180px;
            display: inline-block;
            text-align: center;
            padding: 16px 0;
        }

        .left-side {
            float: left;
        }

        .right-side {
            float: right;
        }

        #preview {

        }

        #preview .img-wrap {
            width: 600px;
            height: 600px;
            position: relative;
        }

        #preview img {
            max-width: 100%;
            max-height: 100%;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
        }

        #btnSubmit {
            border-radius: 6px;
            height: 24px;
            background-color: #fff;
            border: 1px solid #999;
            width: 100%;
            display: block;
        }

        .play-music {
            position: fixed;
            right: 0;
            bottom: 0;
        }
        .bottom-desc{
            font-size:8px;
            position: fixed;
            width:100%;
            bottom:0;
            left:0;
            color:#999;
            text-align: center;
            padding-bottom:10px;
        }
    </style>
</head>

<body>
<div id="main">
    <div class="right-side">
        <form url="./" method="get" id="filterForm">
            <input type="hidden" name="limit" value="30"/>
            <label><input type="radio" name="gender" value=""/>全部</label>
            <label><input type="radio" name="gender" value="male"/>汉子</label>
            <label><input type="radio" name="gender" value="female" checked="checked"/>妹纸</label>
            <br/>
            <input type="submit" value="换一组" id="btnSubmit">
        </form>
        <div id="container">
        </div>

    </div>
    <div id="preview" class="left-side">
        <div>昵称：<a class="name" target="_blank">loading...</a></div>
        <div>简介：<span class="intro">loading...</span></div>
        <div class="img-wrap"><img/></div>
    </div>
    <div class="play-music">
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52
                src="//music.163.com/outchain/player?type=3&id=907511938&auto=1&height=32"></iframe>
    </div>
    <div class="bottom-desc">
        该站只供学习，数据为2015年抓取，知乎上关注者超过1000的优质用户
    </div>
</div>

<script src="/js/jquery.min.2.1.1.js"></script>
<script>
    (function () {
        var picUrlPre = '/users/pic?url=';
        var zhihuDomain = 'https://www.zhihu.com/';

        var $btnSubmit = $('#btnSubmit');
        var $container = $('#container');
        var $preview = $('#preview');
        var $previewImg = $('#preview').find('img');

        var currentList = [];

        $container.on('click', 'img', function () {
            if (isRandering) {
                return;
            }

            $container.find('.current').removeClass('current');
            var $img = $(this);
            $img.addClass('current');
            var idx = $img.index();
            renderProfile(currentList[idx]);
        });
        var loading = {
            start: function () {
                $btnSubmit.val('loading...').attr('disabled', 'disabled');
            },
            end: function () {
                $btnSubmit.removeAttr('disabled').attr('value', '换一组');
                $container.find('img').eq(0).click();
            }
        }

        var $filterForm = $('#filterForm');
        $filterForm.on('submit', function () {
            render();
            return false;
        });


        function loadImage(list, callback) {
            var count = list.length;
            var checkLoaded = function () {
                count--;
                if (count <= 0) {
                    callback(list);
                }
            }
            list.forEach(function (item) {
                var smPic = getSmallImg(item.avatar);
                item.avatar_l = smPic;
                var img = new Image();
                img.onload = function () {
                    checkLoaded();
                }
                img.onerror = function () {
                    checkLoaded();
                }
                img.src = picUrlPre + smPic;
            });

        }

        var maxTime = 3;
        var isRandering = false;
        var $container = $('#container');

        function render() {
            if (isRandering) {
                return;
            }
            loading.start();
            var max = 0;
            $container.find('img').each(function () {
                var $this = $(this);
                var time = (maxTime * Math.random()).toFixed(2) * 1;
                if (max < time) {
                    max = time;
                }
                $this.animate({opacity: 0}, time * 1000);
            });

            isRandering = true;
            $.get('/users/list?_=' + Date.now(), $filterForm.serialize(), function (res) {
                var list = res.data.list;
                var html = '';
                var images = [];
                loadImage(list, function (newList) {
                    currentList = newList;
                    newList.forEach(function (item) {
                        html += ' <img src="' + picUrlPre + item.avatar_l
                            + '" title="' + item.name + '">';
                    });


                    setTimeout(function () {
                        $container.html(html).find('img').each(function () {
                            var $img = $(this);
                            var time = (maxTime * Math.random()).toFixed(2) * 1;
                            $img.css({opacity: 0}).animate({opacity: 1}, time * 1000)
                        });
                        isRandering = false;
                        loading.end();
                    }, max * 1000);
                });

            });
        }

        function renderProfile(profile) {
            $previewImg.attr('src', '').attr('alt', 'loading...');
            $previewImg.attr('src', picUrlPre + profile.avatar);
            $preview.find('.name')
                .text(profile.name)
                .attr('href', [zhihuDomain, 'people/', profile.id].join(''));
            $preview.find('.intro').text(profile.intro);
        }

        render();

        function getSmallImg(src) {
            var cache = src.split('.');
            var ext = cache.pop();
            var fileName = cache.pop() + '_l';
            cache = cache.concat([fileName, ext]);
            return cache.join('.');
        }

    })();
</script>
</body>
</html>
